<div style="margin-left: 50px; margin-top: 50px; width: fit-content">
  <form class="formula-form">
    <div style="display:flex; flex-direction: row;">
      <app-formulas
        [formControl]="fc"
        [selectorLength]="3"
      ></app-formulas>
      <div>
        <button
          class="formula-input-height"
          (click)="onSubmit()"
          type="button"
        >
          Submit
        </button>
      </div>
    </div>
    <p [ngClass]="{ 'error' : error }">{{ formula }}</p>
  </form>
</div>
